body {
   background-color: #fff5db;
   padding: 1rem;
   overflow: hidden;
}
h1 {
   font-family: playfair display;
   font-size: 50px;
   font-weight: 700;
}
#heal-with {
   font-color: #123033;
}
p {
   font-family: montserrat;
}
@media only screen (min-width: 400px) and (max-width: 1600px) {
   .holding-hands {
      height: 750px;
   }
}
@media only screen and (max-width: 400px) {
   .holding-hands {
      height: 350px;
   }
}
